.characteristicsDropdownContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownItemContainer {
  margin: 0 auto;
  margin-top: 5px;
  margin-left: 5px;
  padding: 3px 10px 3px 10px;
  border-radius: 20px;
  color: #282c3f;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

.dropdownItemContainer:hover {
  background-color: #f4f4f5;
}
